<ul class="icons">
    <li><a href="https://www.instagram.com/kuasahukumnusantara/" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.instagram.com/kuasahukumnusantara/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
    <li><a href="https://www.instagram.com/kuasahukumnusantara/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="mailto:kuasahukumnusantara@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
</ul>
<p class="copyright">Copyright &copy; Pintarhukum.com</p>