[session]
security = "all"
redirect = "auth/login"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "results.htm"
==
<!-- Header -->
<header id="header">
    <a href="{{ 'landing'|page }}/1">
        <img src="{{ 'assets/img/LogoH.png'|theme }}" class="logo" height="auto" alt="">
    </a>
    <nav class="links">
        <ul>
            <li class="{% if this.page.id == 'landing' %}active{% endif %}"><a href="{{ 'landing'|page }}/1">Home</a></li>
            <li class="{% if this.page.id == 'lawyers' %}active{% endif %}"><a href="{{ 'lawyers'|page }}">Pengacara</a></li>
            <li class="{% if this.page.id == 'qna' %}active{% endif %}"><a href="{{ 'qna'|page }}">QnA</a></li>
<!--            <li><a href="#">Tempus</a></li>-->
<!--            <li><a href="#">Adipiscing</a></li>-->
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="">
                {% if user %}
                    <p class="m-auto" style="padding: 0.8rem 0.5rem 0" id="user">Hello, <a aria-describedby="tooltip" href="#">{{ user.name }}</a></p>
                {% else %}
                    <a class="fa-user" href="{{ 'auth/login'|page }}">Login</a>
                {% endif %}
            </li>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="{{ 'search' | page }}">
                    <input type="text" name="q" placeholder="Search" />
                </form>
            </li>
            {% if user %}
            <li class="">
                <a class="fa-sign-out-alt" data-request="onLogout" data-request-data="redirect: '/'">Logout</a>
            </li>
            {% endif %}
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>