<!-- Search -->
<section>
    <form class="search" method="get" action="#">
        <input type="text" name="query" placeholder="Search" />
    </form>
</section>
<!-- Links -->
<section>
    <ul class="links">
        {% set posts = newsFeatured.posts %}
        {% for post in posts %}
        <li>
            <a href="/{{ postPage }}/{{ post.slug }}">
                <h3>{{ post.title }}</h3>
                <p>{{ post.published_at|date('M d, Y') }} | Penulis : {{ post.user.first_name }} | Kategori : {{ post.category.name }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>