==
{% set posts = newsPosts.posts %}
{% for post in posts %}

<article class="post">
    <header>
        <div class="title">
            <h2><a href="{{ postPage }}/{{ post.slug }}">{{ post.title }}</a></h2>
            {% if post.tags %}
            <p class="post-tags">Tags:
                {% for tag in post.tags %}
                <a href="{{ 'blog'|page }}/tag/{{ tag }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
            </p>
            {% endif %}
        </div>
        <div class="meta">
            <time class="published" datetime="{{ post.published_at|date('Y-m-d') }}">{{ post.published_at|date('Y-m-d') }}</time>
            <a href="{{ post.user.last_name }}" class="author"><span class="name">{{ post.user.first_name }}</span><img src="{{ post.user.avatar.getThumb(400,400, { mode : 'crop' } ) }}" alt="" /></a>
        </div>
    </header>
    {% if post.image %}<div class="image featured"><a href="{{ postPage }}/{{ post.slug }}"><img src="{{ post.image|media }}" alt="{{ post.title }}"></a></div>{% endif %}
    {% if post.introductory %}
    <div class="post-introductory">{{ str_limit(post.introductory|raw, 200) }}</div>
    {% elseif post.content %}
    <div class="post-content">{{ str_limit(post.content|raw, 200) }}</div>
    {% endif %}
    <footer>
        <ul class="actions">
            <li><a href="{{ postPage }}/{{ post.slug }}" class="button large">Baca Selengkapnya</a></li>
        </ul>
        <ul class="stats">
            <li><a href="{{ categoryPage }}/{{ post.category.slug }}/1">{{ post.category.name }}</a></li>
<!--            <li><a href="#" class="icon solid fa-heart">28</a></li>-->
<!--            <li><a href="#" class="icon solid fa-comment">128</a></li>-->
        </ul>
    </footer>
</article>
{% else %}
<span class="post-nodata">{{ noPostsMessage }}</span>
{% endfor %}

{{ posts.render|raw }}