[newsPosts newsFeatured]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 1
postPage = "post"
categoryPage = "category"

[newsCategories]
noPostsMessage = "No posts found"
categoryPage = "category"
==
<!-- Intro -->
<section id="intro">
    <a href="#" class="logo"><img src="{{ 'assets/img/Symbol.png'|theme }}" alt="" /></a>
    <header>
        <h2>Pintar Hukum</h2>
        <p>Mempelajari hukum dengan mudah dari para ahli hukum</p>
    </header>
</section>

<!-- Mini Posts -->
<section>
    <div class="mini-posts">
        {% set posts = newsFeatured.posts %}
        {% for post in posts %}
        <!-- Mini Post -->
        <article class="mini-post">
            <header>
                <h3><a href="/{{ postPage }}/{{ post.slug }}">{{ post.title }}</a></h3>
                <time class="published" datetime="2015-10-20">{{ post.published_at|date('M d, Y') }}</time>
                <a href="#" class="author"><img src="" alt="" /></a>
            </header>
            <a href="/{{ postPage }}/{{ post.slug }}" class="image"><img src="{{ post.image|media }}" alt="" /></a>
        </article>
        {% endfor %}
    </div>
</section>

<!-- Posts List -->
<section>
    <h3>Kategori :</h3>
    <ul class="posts">
        {% set categories = newsCategories.categories  %}
        {% for category in categories %}
        {% if category.hidden == 2 %}
        <li>
            <article>
                <header>
                    <h3><a href="{{ categoryPage }}/{{ category.slug }}/1">{{ category.name }}</a></h3>
                    <p>{{ category.content|raw }}</p>
                </header>
                <a href="{{ categoryPage }}/{{ category.slug }}/1" class="image"><img src="/pintarhukum/{{ category.image|media }}" alt="" /></a>
            </article>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>

<!-- About -->
<section class="blurb">
    <h2>About</h2>
    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
    <ul class="actions">
        <li><a href="#" class="button">Selengkapnya</a></li>
    </ul>
</section>

<!-- Footer -->
<section id="footer">
    <ul class="icons">
        <li><a href="https://www.instagram.com/kuasahukumnusantara/" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.instagram.com/kuasahukumnusantara/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/kuasahukumnusantara/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="mailto:kuasahukumnusantara@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <p class="copyright">Copyright &copy; Pintarhukum.com</p>
</section>