p {
    margin-bottom:0;
}
.d-flex {
    display: flex;
}
.ml-1 {
    margin-left: 1rem!important;
}
.ml-2 {
    margin-left: 2rem!important;
}
.ml-3 {
    margin-left: 3rem!important;
}
.ml-4 {
    margin-left: 4rem!important;
}
.ml-5 {
    margin-left: 5rem!important;
}
.m-auto {
    margin: auto;
}
header a img.logo {
    max-height: 2.5em; margin-top: 10px; margin-left: 10px
}
@media screen and (max-width: 980px) {
    header a img.logo {
        max-height: 2.5em; margin-top: 2px; margin-left: 2px
    }
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.lawyer-box {
    padding: 0.8rem;
}
.post > header .title-small {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -ms-flex: 1;
    padding: 1.75em 2em 1.3em 2em;
}

.post > header .title-small h3 {
    font-weight: 900;
    font-size: 1.2em;
}

.post > header .title-small small {
    font-weight: 300;
    font-size: 0.6em;
}

.post > header .title-small > :last-child {
    margin-bottom: 0;
}

.picture-profile {
    height: 60px;
    width: auto;
    border-radius: 100px;
}
.post-title.head {
    font-size: 18pt;
}
.post-nav {
    display: flex;
    margin-top: 1rem;
}
.post-nav p {
    padding-right: 1rem;
}
.post-nav :last-child {
    padding-left: 1rem;
}
#header nav ul li.active a{
    color: grey;
    font-weight: bold;
}
.auth-box form > button[type="submit"] {
    margin-top: 1rem;
}
.text-center {
    text-align: center;
}
