title = "login"
url = "/login"
layout = "auth"
is_hidden = 0

[account]
redirect = "forum"
paramCode = "code"
forceSecure = 0
requirePassword = 0
==
{% if not user %}

    <div class="d-flex" style="justify-content: center">
        <article class="post">
            <div class="auth-box">
                <h3>Sign in</h3>
                {% partial account ~ '::signin' %}
                <small><a href="{{ 'auth/register'|page }}" class="text-center">Belum memiliki akun? Klik disini</a></small>
            </div>
        </article>
    </div>

{% else %}

    {% partial account ~ '::activation_check' %}

    {% partial account ~ '::update' %}

    {% partial account ~ '::deactivate_link' %}

{% endif %}