title = "Register"
url = "/register"
layout = "auth"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0
requirePassword = 1
==
{% if not user %}

    <div class="d-flex" style="justify-content: center">
        <article class="post">
            <div class="auth-box">
                {% partial account ~ '::register' %}
            </div>
            <small><a href="{{ 'auth/login'|page }}" class="text-center">Sudah punya akun? silahkan login</a></small>
        </article>
    </div>

{% else %}

    {% partial account ~ '::activation_check' %}

    {% partial account ~ '::update' %}

    {% partial account ~ '::deactivate_link' %}

{% endif %}