<div class="row">
    {% for topic in topics %}
    <div class="col-12-medium col-6">
        <article class="post">
            <header style="margin-bottom: 2rem">
                <div class="title-small">
                    <h3>
                        {% if topic.is_sticky %}<strong>Sticky:</strong>{% endif %}
                        {% if topic.is_locked %}<i class="icon icon-lock"></i> <strong>Locked:</strong>{% endif %}
                        <a href="{{ topic.url }}">{{ topic.subject }}</a>
                    </h3>
                </div>
                <div class="indicator-column">
                    <div class="topic-indicator {{ topic.hasNew ? 'has-new' }}"></div>
                </div>
            </header>
            <div style="margin-bottom: 1rem">{{ topic.posts[0].content }}</div>
            <footer>
                <ul class="actions">
                    <li><a href="{{ topic.url }}" class="button">Baca</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="{{ topic.url }}?page=last#post-{{ topic.last_post_id }}">
                        {% partial __SELF__ ~ "::timestamp" date=topic.last_post_at %}
                    </a></li>
                    <li><a href="#" class="icon solid fa-comment">{{ (topic.count_posts-1) }}</a></li>
                    <li><a href="#" class="icon solid fa-eye">{{ topic.count_views }}</a></li>
                </ul>
            </footer>
        </article>
    </div>
    {% endfor %}
    {% if not topics|length %}
    <h5>Belum ada pertanyaan</h5>
    {% endif %}
</div>