description = "Auth Layout"
==
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% if post.seo_title %}{{ post.seo_title }}{% elseif this.page.meta_title %}{{ this.page.meta_title }}{% else %}{{ this.page.title }}{% endif %}</title>
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="description" content="{% if post.seo_desc %}{{ post.seo_desc }}{% elseif this.page.meta_description %}{{ this.page.meta_description }}{% else %}{{ this.page.description }}{% endif %}">
    {% if post.seo_image %}<meta property="og:image" content="{{ post.seo_image|media }}">{% endif %}
    <meta name="author" content="Julardo Satriawan">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="generator" content="PintarHukum">
    <script src="https://kit.fontawesome.com/017f67317e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ [
        'assets/css/main.css',
        'assets/css/style.css'
    ]|theme }}" />
    {% styles %}
</head>
<body class="single is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            {% partial 'header' %}
        </header>

        <!-- Content -->
        <section id="main">
            {% page %}
        </section>

        <!-- Footer -->
        <section id="footer">
            {% partial 'footer' %}
        </section>
    </div>

    <script src="{{ [
        'assets/js/jquery.min.js',
        'assets/js/breakpoints.min.js',
        'assets/js/browser.min.js',
        'assets/js/util.js',
        'assets/js/main.js'
    ]|theme }}"></script>

    {% framework extras %}
    {% scripts %}

</body>
</html>