title = "lawyers"
url = "/lawyers"
layout = "single"
is_hidden = 0
==
<?php
use October\Rain\Auth\Models\User;

function onInit() {
    $this['activatedUsers'] = User::whereIsActivated(true)->get();
}
?>
==
Daftar Pengacara:
<div class="row">
    {% for user in activatedUsers %}
    <div class="col-3 col-4-medium col-6-small lawyer-box">
        <div class="card">
            <div class="card-body">
                {{ user.name }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>