title = "Post"
url = "/post/:slug"
layout = "single"
is_hidden = 0

[newsPost]
slug = "{{ :slug }}"

[forumEmbedTopic]
embedCode = ":slug"
channelSlug = "blog"
memberPage = "auth/login"
==
{% set post = newsPost.post %}

<div class="post">
    <div class="post-content">
        <h1 class="post-title head">{{ post.title }}</h1>
        <div class="d-flex">
            <div>
                <img src="{{ post.user.avatar.getThumb(400,400, { mode : 'crop' } ) }}" class="picture-profile" alt="">
            </div>
            <p class="ml-2 post-date">Posted on {{ post.published_at|date('Y-m-d') }}<br> Penulis : {{ post.user.first_name  }}</p>
        </div>

        {% if post.image %}<div class="post-image"><img src="{{ post.image|media }}" alt="{{ post.title }}"></div>{% endif %}

        {% if post.introductory %}<div class="post-introductory">{{ post.introductory|raw }}</div>{% endif %}
        {% if post.content %}<div class="post-content">{{ post.content|raw }}</div>{% endif %}

        {% if post.tags %}
        <small class="post-tags">Tags:
            {% for tag in post.tags %}
            <a href="/{{ 'post'|page }}/tag/{{ tag }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
        </small>
        {% endif %}
    </div>
    <div class="post-nav">
        {% if post.prev().title %}Prev: <a href="{{ 'post'|page }}/{{ post.prev().slug }}" class="prev">{{ post.prev().title }}</a>{% endif %}&nbsp;|
        {% if post.next().title %}Next: <a href="{{ 'post'|page }}/{{ post.next().slug }}" class="next">{{ post.next().title }}</a>{% endif %}
    </div>
    <div>
    {% component 'forumEmbedTopic' %}
    </div>
</div>

<div class="post">
    <div class="post-content">
        <div class="row">
            <div class="col-1">
                <img src="{{ post.user.avatar.getThumb(400,400, { mode : 'crop' } ) }}" class="picture-profile" alt=""><br>
                <a href="{{ post.user.last_name }}"><i class="fab fa-facebook"></i></a>&nbsp
                <a href=""><i class="fas fa-phone"></i></a>&nbsp
                <a href=""><i class="fas fa-envelope"></i></a>&nbsp;
            </div>
            <div class="col-8">
                <p>
                    <b>Penulis :</b> {{ post.user.first_name  }}<br>
                    <b>Tentang Penulis : </b> <br> {{ post.user.last_name  }}
                </p>
            </div>
        </div>
    </div>
</div>