title = "QnA"
url = "/qna"
layout = "single"
is_hidden = 0

[forumChannel]
slug = "hukum"
memberPage = "auth/login"
topicPage = "forum/topic"
==
<div class="rainlab-forum">
    {% partial forumChannel ~ "::title" %}
    <h3>Pertanyaan</h3>
    {% partial 'forum/channel/topics' %}

    {% if topics %}
        {% partial forumChannel ~ "::pagination" %}
    {% endif %}
</div>