title = "Search"
url = "/search"
layout = "default"
is_hidden = 0

[searchResults]
resultsPerPage = 10
showProviderBadge = 1
noResultsMessage = "Your search returned no results."
visitPageMessage = "Visit page"

[siteSearchInclude]
==
<?php
function onStart() {
    $query = Request::get('q');
    $query = str_replace('ё', 'e', $query);
    $this->page->components['searchResults']->forceQuery($query);
}
?>
==
<h5>Hasil Pencarian : {{ searchResults.query }}</h5>
{% set results = searchResults.results %}

{% for result in results %}
    {# Display all results #}
    <div class="ss-result">
        {% if result.thumb %}
        {% partial __SELF__ ~ '::thumbnail' result = result %}
        {% endif %}
        <div class="ss-result__content">
            {% partial __SELF__ ~ 'search/results' result = result %}
        </div>
        <hr/>
    </div>
{% else %}
    {# No results found #}
    {% partial searchResults ~ '::no-results.htm' %}
{% endfor %}

{% partial searchResults ~ '::pagination.htm' results = results %}