<h4 class="ss-result__title">
    <a href="{{ result.url | app }}">{{ result.title | raw }}</a>
    {% if __SELF__.showProviderBadge %}
    <span class="ss-result__badge">
            {{ result.provider }}
        </span>
    {% endif %}

    {# Some results contain meta information.     #}
    {# You can access it using result.meta.       #}
    {# To find out from which plugin the result   #}
    {# was returned you can use result.identifier #}
    {# Some results contain the original model.   #}
    {# You can access it using result.model       #}
</h4>

<p class="ss-result__text">
    {{ result.excerpt | raw }}
</p>

<p class="ss-result__url">
    <a href="post{{ result.url | app }}" class="ss-result__link">Baca &rarr;</a>
</p>
