title = "Forum Topic"
url = "/forum/topic/:slug"
layout = "single"
is_hidden = 0

[forumTopic]
slug = "{{ :slug }}"
postsPerPage = 20
memberPage = "forum/account"
channelPage = "forum/channel"
==
<div class="rainlab-forum">

    {% flash %}
        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
    {% endflash %}

    {% if returnUrl %}
        <p>&larr; <a href="{{ 'qna'|page }}">Back to QnA</a></p>
    {% endif %}

    {% if topic %}

        <article class="post">
            <h2 class="title">{{ topic.subject }}</h2>

            <div id="topicControlPanel">
                {% partial "forum/channel/controlpanel" %}
            </div>

        </article>

        <article class="post">

            {% partial "@posts" %}

            {% partial "@pagination" %}

            <h4>Jawab Pertanyaan ini</h4>
            {% if not topic.canPost %}
                <p>
                    You cannot edit posts or make replies:
                    {% if not member %}Kamu harus login terlebih dahulu untuk menjawab{% endif %}
                    {% if member.is_banned %}Akun anda terbanned.{% endif %}
                    {% if topic.is_locked %}Pertanyaan ini terkunci.{% endif %}
                </p>
            {% else %}
                {% partial "forum/channel/postform" %}
            {% endif %}

        </article>

    {% elseif channel %}

        <h4>Create a new discussion topic</h4>
        {% partial "@createform" %}

    {% else %}

        <p>Topic not found</p>

    {% endif %}
</div>